.elementor-kit-6{--e-global-color-primary:#000000;--e-global-color-secondary:#D77300;--e-global-color-text:#666666;--e-global-color-accent:#666666;--e-global-color-42e9d26:#E28B00;--e-global-color-81e04d2:#FFAA47;--e-global-color-36905ee:#070707;--e-global-color-e785549:#F7F6FA;--e-global-color-d4663a8:#FFFFFF;--e-global-typography-primary-font-family:"Poppins";--e-global-typography-primary-font-size:25px;--e-global-typography-primary-font-weight:300;--e-global-typography-primary-line-height:33px;--e-global-typography-primary-letter-spacing:1px;--e-global-typography-secondary-font-family:"Poppins";--e-global-typography-secondary-font-size:16px;--e-global-typography-secondary-font-weight:700;--e-global-typography-secondary-line-height:21px;--e-global-typography-secondary-letter-spacing:1px;--e-global-typography-text-font-family:"Poppins";--e-global-typography-text-font-size:12px;--e-global-typography-text-font-weight:300;--e-global-typography-text-line-height:25px;--e-global-typography-text-letter-spacing:1px;--e-global-typography-accent-font-family:"Poppins";--e-global-typography-accent-font-size:14px;--e-global-typography-accent-font-weight:300;--e-global-typography-accent-line-height:19px;--e-global-typography-accent-letter-spacing:1px;--e-global-typography-e6564b0-font-family:"Poppins";--e-global-typography-e6564b0-font-size:45px;--e-global-typography-e6564b0-font-weight:300;--e-global-typography-e6564b0-line-height:60px;--e-global-typography-e6564b0-letter-spacing:1px;}.elementor-kit-6 e-page-transition{background-color:#FFBC7D;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1200px;}.e-con{--container-max-width:1200px;}.elementor-widget:not(:last-child){margin-block-end:20px;}.elementor-element{--widgets-spacing:20px 20px;}{}h1.entry-title{display:var(--page-title-display);}@media(max-width:1024px){.elementor-kit-6{--e-global-typography-primary-font-size:22px;--e-global-typography-secondary-font-size:15px;--e-global-typography-accent-font-size:13px;--e-global-typography-e6564b0-font-size:40px;--e-global-typography-e6564b0-line-height:50px;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-con{--container-max-width:1024px;}}@media(max-width:767px){.elementor-kit-6{--e-global-typography-primary-font-size:20px;--e-global-typography-secondary-font-size:14px;--e-global-typography-text-font-size:12px;--e-global-typography-accent-font-size:12px;--e-global-typography-e6564b0-font-size:35px;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}.e-con{--container-max-width:767px;}}/* Start custom CSS *//*-- desfocar o que está atrás (efeito de vidro fosco) -- */
.blur-5{
    backdrop-filter: blur(5px);
}

.blur-10{
    backdrop-filter: blur(10px);
}

.blur-20{
    backdrop-filter: blur(20px);
}

.blur-30{
    backdrop-filter: blur(30px);
}

/* -- Ajustar posição do botão do joinchat -- */
.joinchat{
        --bottom: 64px!important;
}

/* -- retirar borda de focus nos botões -- */

button, input, a:focus {
    outline: none !important;
}



/* -- Elementos -- */
.caixa-servico .elementor-image-box-content{
    padding: 0 10px 20px
}



/* -- Notícias -- */
.resumo-noticia, .ler-mais-noticia{
    display: none;
}

.titulo-noticia{
    color: var(--e-global-color-text) !important;
    font-family: var( --e-global-typography-secondary-font-family ), Sans-serif !important;
    font-size: var( --e-global-typography-secondary-font-size ) !important;
    font-weight: var( --e-global-typography-secondary-font-weight ) !important;
    line-height: var( --e-global-typography-secondary-line-height ) !important;
    letter-spacing: var( --e-global-typography-secondary-letter-spacing ) !important;
}

.data-noticia{
    color: var( --e-global-color-primary );
    font-family: var( --e-global-typography-accent-font-family ), Sans-serif;
    font-size: var( --e-global-typography-accent-font-size );
    font-weight: var( --e-global-typography-accent-font-weight );
    line-height: var( --e-global-typography-accent-line-height );
    letter-spacing: var( --e-global-typography-accent-letter-spacing );
}

.item-noticia .elementor-post__meta-data{
    margin: 6px 0;
}

.item-noticia{
    margin: 25px !important
}




.servicos p.elementor-image-box-description {
    min-height: 115px;
}/* End custom CSS */